body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    justify-content: center;
}

#taskForm {
    display: flex;
    gap: 10px;
}

#taskInput {
    padding: 8px;
    width: 250px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#taskList {
    margin-top: 25px;
    list-style: none;
    padding: 0;
}

.task-item {
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.action-btn {
    margin-left: 10px;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.complete-btn {
    background: #00c853;
    color: white;
}

.delete-btn {
    background: #d50000;
    color: white;
}
